{% extends 'users/base.html' %}
{% load blog_tags %}

{% block title %} Blog Post | Tags {% endblock title %}

{% block content %}
    <main>

        <div class="hero-area2 d-flex align-items-center">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="hero-cap pt-50">
                            <h2>Tags Post List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div>
    {% for post in tags_posts %}
        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author.first_name }} {{ post.author.last_name }} |&nbsp;
        </p>
        <p>{{ post.body|safe }}</p>
    {% endfor %}
</div>
{% endblock content %}