{% extends 'users/base.html' %}

{% block title %} Portfolio | Sign Up Confirmation{% endblock title %}

{% block content %}
    <main>
        <div class="hero-area2 d-flex align-items-center">
            <div class="container">
                <div class="row ">
                    <div class="col-xl-12">
                        <div class="hero-cap pt-50">
                            <h2>Sign Up Successful</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <section class="contact-section">
            <div class="container">
                <div class="section-top-border">
                    <h3>Your Registration Details:</h3>
                    <div class="">
                        <ul class="unordered-list">
                            <li>Email: {{ email }}</li>
                            <li>First Name: {{ first_name }}</li>
                            <li>Last Name: {{ last_name }}</li>
                            <li>Username: {{ username }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}